<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zoo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".Jungle"
            android:label="@string/jungle_beasts"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Birds"
            android:label="@string/birds"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AnimalDetails"
            android:label="@string/animal_details"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Reptiles"
            android:label="@string/reptiles"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".WaterAnimals"
            android:label="@string/Water_animals"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Categories"
            android:label="@string/categories"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/welcome_to_zoo_atlanta"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>